{% extends "layouts/base.html" %}

{% block title %} Food & Nutrition {% endblock %} 

{% block stylesheets %}
  <!-- Specific Page CSS goes HERE -->
{% endblock stylesheets %}

{% comment %} {% load safe_filters %} {% endcomment %}
{% load custom_filters %}

{% block content %}
  <div class="content">
    <div class="page-inner">
		<div class="page-header">
			<h4 class="page-title">DataTables</h4>
			<ul class="breadcrumbs">
				<li class="nav-home">
					<a href="#">
						<i class="flaticon-home"></i>
					</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="#">Tables</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="#">Food Composition Table</a>
				</li>
			</ul>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Food Composition</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table id="basic-datatables" class="display table table-striped table-hover" >
								<thead>
									<tr>
                                        <th>Photo</th>
										{% for field in alias_name %}
										  <th>{{ field}}</th>
										{% endfor %}
									  </tr>
								</thead>
								<tfoot>
									<tr>
                                        <th>Photo</th>
										{% for field in field_names %}
										  <th>{{ field}}</th>
										{% endfor %}
									  </tr>
								</tfoot>
								<tbody>
									{% for obj in object_list %}
									  <tr>
                                        <td><img src="/static/assets/img/nutrition/{{obj.code}}.jpeg" alt="{{ obj.name }}  style="width: 100px; height: 60px;"></td>
										{% for field in field_names %}
										  <td>{{ obj|get_attribute:field }}</td>
										{% endfor %}
									  </tr>
									{% empty %}
									  <tr>
										<td colspan="{{ field_names|length }}"> No data available </td>
									  </tr>
									{% endfor %}
								  </tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>
      
    </div>
  </div>
{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo.js"></script>
	{% comment %} <script src="/static/assets/js/demo.js"></script> {% endcomment %}
	{% comment %} <script src="/static/assets/js/master.js"></script> {% endcomment %}
	<script >
		
		$(document).ready(function() {
			$('#basic-datatables').DataTable({
			});

			$('#multi-filter-select').DataTable( {
				"pageLength": 5,
				initComplete: function () {
					this.api().columns().every( function () {
						var column = this;
						var select = $('<select class="form-control"><option value=""></option></select>')
						.appendTo( $(column.footer()).empty() )
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);

							column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
						} );

						column.data().unique().sort().each( function ( d, j ) {
							select.append( '<option value="'+d+'">'+d+'</option>' )
						} );
					} );
				}
			});

			// Add Row
			$('#add-row').DataTable({
				"pageLength": 5,
			});

			var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

			$('#addRowButton').click(function() {
				$('#add-row').dataTable().fnAddData([
					$("#addName").val(),
					$("#addPosition").val(),
					$("#addOffice").val(),
					action
					]);
				$('#addRowModal').modal('hide');

			});
		});
	</script>


{% endblock javascripts %}
